.message {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;

}

.imageAndText img {
    width: 48px;
    height: 48px;
    margin: 15px 0px 0px 10px;
}

.text {
    display: flex;
    flex-direction: column;
    background-color: #0066CC;
    padding: 5px 10px;
    border-radius: 8px;
}

.text:after {

}

.name {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
    color: white;
    text-align: right ;
}

.messageText {
    font-size: 16px;
    line-height: 20px;
    color: white;
    text-align: right;
}

.time {
    font-size: 10px;
    font-weight: bold;
    margin: 5px 12px 0px 0px;
    text-align: end;
}