.buttonContainer {
    display: flex;
    gap: 24px;
    margin-bottom: 20px;
    margin-top: 15px;
}

.all {
    --color: #06c;
    ---color: rgba(0, 102, 204, 0.05);
    ----color: rgb(0, 102, 204, 0.9);
}

.low {
    --color: #0c2;
    ---color: rgba(0, 204, 34, 0.05);
    ----color: rgba(0, 204, 34, 0.9);
}

.high {
    --color: #c00;
    ---color: rgba(204, 0, 0, 0.05);
    ----color: rgba(204, 0, 0, 0.9);
}

.middle {
    --color: #cc9c00;
    ---color: rgba(204, 156, 0, 0.05);
    ----color: rgba(204, 156, 0, 0.9);
}

.button {
    padding: 5px 15px;

    background: transparent;
    color: var(--color);

    border: 1px solid var(--color);
    border-radius: 15px;
    outline: none;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

.button:hover {
    background-color: var(---color);
}

.button:active {
    background: var(--color);
    color: white;
}

.active {
    background: var(--color);
    color: white;
}

.active:hover {
    background: var(----color);
}


.affairs {
    display: flex;
    gap: 17px;
    flex-wrap: wrap;
    max-width: 450px;
}
