.input:focus {
    background: #f6f6f8;
    outline: none;
}

.input {
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    width: 372px;
    height: 36px;
    padding: 7px 11px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
}

.superInput {

}

.errorInput {
    border-color: #cc0000;
    margin-top: 6px;
}

.errorInput:focus {

}

.error {
    color: #cc0000;
}
