.spanBlock {
    display: flex;
    align-items: center;
    align-content: space-between;
    gap: 10px;
}

.span {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #0080FF;
}

.input {
}


.pen {
    width: 25px;
    height: 25px;
}