.sendForm {
    display: flex;
}

.textarea {

}

.button {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background-color: #0066CC;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
    margin-left: 10px;
}

.button:hover {
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.5);
}

.button:active {
    background-color: rgba(0,0,0,0.5);
}
