.sendForm {
    display: flex;
    margin: 30px;
}

.textarea {
    border: none;
    padding: 11px 20px;
    height: 40px !important;
    border-radius: 20px;
    background-color: #F5F7FB;
    resize: none;
    flex-grow: 1;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.textarea:hover {
    background-color: #f6f6f8;
}

.button {
    height: 40px;
    width: 120px;
    border-radius: 20px;
    border: none;
    background-color: #0066CC;
    color: #FFFFFF;
    font-size: 16px;
    margin-left: 20px;
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.5);
}

.button:hover {
    background-color: #1e77d0;
}
.button:active {
    background-color: rgba(0,0,0,0.5);
}
