.button {
    background: #00cc22;
}

.disabled {
    background: #cc9c00!important;
}

.secondary {
    background: #0066cc;
}

.default {
    background: white;
}

.red {
    background: #cc0000;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
